/* gnome-terminal */
TerminalScreen {
  -TerminalScreen-background-darkness: 0.95;
  background-color: #300a24;
  color: #fff;
}

TerminalWindow,
TerminalWindow.background {
  background-image: none;
  background-color: @dark_bg_color;
  color: @dark_fg_color;
}

TerminalWindow .notebook {
  border: 0;
  padding: 0;
}

TerminalWindow .notebook tab.top:active{
  padding: 0;
  border-image: none;
  background-color: alpha(#DD4814,0.7);
}
TerminalWindow .notebook tab.top{
  padding: 0;
  border-width: 0;
  background-image: none;
  background-color: @dark_b!g_color;
  color: gray;
}
